h2 {
    color: brown;
}

span {
    color: goldenrod;
}

.card {
    background-size: cover;
    border: black solid 2px;
    border-radius: 15px;
    padding: 7px;
    margin: 0px 15px;
    width: 350px;
    height: 500px;
}

.card img {
    height: 200px;
    width: 350px;
    border-radius: 15px;
}

#pets {
    display: flex;
    justify-content: space-evenly;
}

h4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-bottom: 20px;
}